<app-layout>
    <div class="container mt-5">
        <div class="row">
            <div class="col-2"></div>
            <div class="col-8">
                <h2 class="text-center mb-4">Feedback Gönder</h2>
                <form [formGroup]="feedbackForm" (ngSubmit)="onSubmit()">
                    <div class="mb-3">
                        <label for="rating" class="form-label">Puan</label>
                        <input type="number" id="rating" formControlName="rating" class="form-control" min="1" max="5"
                            required>
                        <div *ngIf="feedbackForm.get('rating')?.invalid && feedbackForm.get('rating')?.touched"
                            class="text-danger">
                            Lütfen 1 ile 5 arasında bir puan girin.
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="comment" class="form-label">Yorum</label>
                        <textarea id="comment" formControlName="comment" class="form-control" rows="4" maxlength="500"
                            required></textarea>
                        <div *ngIf="feedbackForm.get('comment')?.invalid && feedbackForm.get('comment')?.touched"
                            class="text-danger">
                            Lütfen bir yorum girin (en fazla 500 karakter).
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary">Gönder</button>
                </form>
                <div *ngIf="message" class="alert alert-success mt-3">{{ message }}</div> <!-- Başarı mesajı -->
                <div *ngIf="errorMessage" class="alert alert-danger mt-3">{{ errorMessage }}</div> <!-- Hata mesajı -->
            </div>
            <div class="col-2"></div>
        </div>
    </div>
</app-layout>