<app-layout>
    <div class="row">
        <div class="col-3"></div>
        <div class="col-6">
            <h4>Adres Ekle</h4>
            <form [formGroup]="addressForm" (ngSubmit)="onSubmit()">
                <div class="mb-3">
                    <label for="cityId" class="form-label">Şehir</label>
                    <select id="cityId" formControlName="cityId" class="form-select">
                        <option *ngFor="let city of cities" [value]="city.id">{{ city.name }}</option>
                    </select>
                </div>
                <div class="mb-3">
                    <label for="districtId" class="form-label">İlçe</label>
                    <select id="districtId" formControlName="districtId" class="form-select">
                        <option *ngFor="let district of districts" [value]="district.id">{{ district.name }}</option>
                    </select>
                </div>
                <div class="mb-3">
                    <label for="addressText" class="form-label">Adres</label>
                    <input type="text" id="addressText" formControlName="addressText" class="form-control" />
                    <div *ngIf="addressForm.get('addressText')?.invalid && addressForm.get('addressText')?.touched"
                        class="text-danger">
                        Adres Boş Olamaz
                    </div>
                </div>
                <button type="submit" class="btn btn-primary">Ekle</button>
            </form>
            <div *ngIf="message" class="alert alert-success mt-3">{{ message }}</div>
            <div *ngIf="errorMessage" class="alert alert-danger mt-3">{{ errorMessage }}</div>
        </div>
        <div class="col-3"></div>
    </div>
</app-layout>