<app-layout>
    <div class="row">
        <div class="col-3"></div>
        <div class="col-6">
            <h4>Rezervasyon Durumunu Güncelle</h4>
            <form [formGroup]="reservationForm" (ngSubmit)="onSubmit()">
                <div class="mb-3">
                    <label for="reservationStatus" class="form-label">Durum</label>
                    <select id="reservationStatus" formControlName="reservationStatus" class="form-select">
                        <option value="CONFIRMED">Onaylandı</option>
                        <option value="CANCELED">İptal Edildi</option>
                    </select>
                </div>
                <button type="submit" class="btn btn-primary">Güncelle</button>
            </form>
            <div *ngIf="message" class="alert alert-success mt-3">{{ message }}</div>
            <div *ngIf="errorMessage" class="alert alert-danger mt-3">{{ errorMessage }}</div>
        </div>
        <div class="col-3"></div>
    </div>
</app-layout>