.nav-item1 {
    cursor: pointer;
}

.navbar {
    background: rgb(16, 5, 238);
    background: linear-gradient(90deg, rgba(16, 5, 238, 0.40940126050420167) 0%, rgba(79, 222, 194, 0.8827906162464986) 68%);
}