<app-layout>
    <div class="container">
        <div class="row py-3 shadow-lg p-3 mb-5 bg-body-tertiary rounded">
            <div class="col-6">
                <h3>Bize Ulaşın</h3>

                <p><b>Adres: </b>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea ad nostrum optio tempore
                    cupiditate
                    laboriosam quaerat, veritatis repudiandae beatae! Ullam.</p>
                <p><b>İletişim Numarası: </b>05378409637</p>
                <p><b>email: </b>pair2.gmail.com</p>
                <p></p>
            </div>
            <div class="col-6">
                <h3>Konum</h3>
                <iframe
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3018.157677407655!2d25.87283757641871!3d40.846461829372416!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14b21ca2a4170c25%3A0x74bfdbc8f4ab2504!2s14is%20Maiou%2021-11%2C%20Alexandroupoli%20681%2000%2C%20Yunanistan!5e0!3m2!1str!2str!4v1719145487547!5m2!1str!2str"
                    width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </div>
    </div>
</app-layout>