<app-layout>
    <div class="container">
        <div class="row py-3 shadow-lg p-3 mb-5 bg-body-tertiary rounded">
            <div class="col-sm-12 col-lg-6">






                <h2 class="text-center">Hakkımızda</h2>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro modi tenetur omnis harum, velit
                    molestiae? Eos sequi quasi, eius dolore ipsa obcaecati ex provident quis mollitia laboriosam
                    modi
                    illum, sint quos commodi numquam dolorem doloremque tempora! Earum sint deserunt, molestiae
                    eveniet
                    eaque a iste impedit iure officia id deleniti eius pariatur velit, consequuntur perferendis et
                    est
                    at vero repudiandae ex sed facilis! Qui velit totam temporibus hic tenetur optio modi id nulla
                    ratione ipsam cupiditate vel praesentium voluptatum, quibusdam neque enim deleniti sunt nihil!
                    Voluptatem iure aspernatur, minus excepturi praesentium aperiam eius similique quaerat
                    assumenda.
                    Eligendi, impedit similique! Rem quae ullam suscipit dignissimos repellendus ratione asperiores
                    earum dolorum placeat, mollitia facere quod modi? Architecto enim, rem ducimus sequi cum eveniet
                    optio consequuntur iusto! Impedit voluptas, odio sequi ipsum magni in a doloremque quam
                    similique
                    saepe repellendus? Voluptate placeat illo, dicta cum veritatis vitae harum, autem qui,
                    temporibus
                    asperiores omnis rerum! Eaque sequi incidunt laudantium modi quo accusantium debitis enim fugiat
                    laboriosam excepturi, rem ipsa, facilis ad dignissimos ab voluptas, repellendus quis
                    reprehenderit
                    vero repellat quaerat. Eum ipsa illum rem nemo ratione tempora ducimus nesciunt quae enim?
                    Perspiciatis repellat iusto provident officia consectetur sunt dolorum, voluptas rerum, vel
                    laboriosam numquam adipisci!
                </p>


            </div>
            <div class="col-sm-12 col-lg-6 d-flex justify-content-center"><img
                    src="https://picsum.photos/id/237/400/600" alt="bavul" class="img-fluid rounded">
            </div>
        </div>
    </div>
</app-layout>