<app-layout>
    <div class="row">
        <div class="col-3"></div>
        <div class="col-6">
            <h4>Yoruma Yanıt Ver</h4>
            <form [formGroup]="responseForm" (ngSubmit)="onSubmit()">
                <div class="mb-3">
                    <label for="description" class="form-label">Yanıt</label>
                    <textarea id="description" formControlName="description" class="form-control"></textarea>
                    <div *ngIf="responseForm.get('description')?.invalid && responseForm.get('description')?.touched"
                        class="text-danger">
                        Açıklama Alanı Boş Olamaz!
                    </div>
                </div>
                <button type="submit" class="btn btn-primary">Yanıtla</button>
            </form>
            <div *ngIf="message" class="alert alert-success mt-3">{{ message }}</div>
            <div *ngIf="errorMessage" class="alert alert-danger mt-3">{{ errorMessage }}</div>
        </div>
        <div class="col-3"></div>
    </div>
</app-layout>